# Binary files
backend/main
backend/main.exe

# Secret files
**/*adminsdk*.json
**/firebase-auth.json
**/google-services.json
**/GoogleService-Info.plist
**/*.pem
**/*.zip
backend*/
hf-*/
# Allow essential JSON
!**/manifest.json
!**/Contents.json
!chattr/pubspec.json
!chattr/web/.well-known/assetlinks.json
# OS files
.DS_Store
Thumbs.db

# Flutter related
chattr/.dart_tool/
chattr/.packages
chattr/.flutter-plugins
chattr/.flutter-plugins-dependencies
chattr/build/

# Local env
.env
